
@{
    ViewBag.Title = "Index";
}

<p></p>
<a class="btn btn-primary" href="@Url.Action("index","Konus")">Konular</a>
<a class="btn btn-primary" href="@Url.Action("index","Sorus")">Sorular</a>
<a class="btn btn-primary" href="@Url.Action("index","Cevaps")">Cevaplar</a>
<a class="btn btn-primary" href="@Url.Action("index","Sonuc")">Sonuçlar</a>

