
@{
    ViewBag.Title = "Index";
}

<p></p>

<a class="btn btn-primary" href="/Yonetim/Sonuc/Konu">Konu bazında sonuçlar</a>
<a class="btn btn-primary" href="/Yonetim/Sonuc/Kullanici">Kullanıcı bazında sonuçlar</a>

